//========= Core Styles =========

// Clearfix & Box Sizing

.clearfix
	@include clearfix
*,
*:before,
*:after
	@include box-sizing(border-box)


// Body Global Styles

html 
	font-size: 100%

body 
	color: $base-color
	font-family: Helvetica, Arial, sans-serif
	background-color: whitesmoke
	padding: 3em

a 
	color: $action
	@include force-wrap					// force text links to wrap
	&:hover, &:focus, &:active 
		color: $action-respond

// example grid styles

.wrap-page-section
	& > section 
		@include grid-row
		& > aside
			@include grid-column(4)
		& > article
			@include grid-column(8)

@media #{$screen}

@media #{$small}

@media #{$medium}

@media #{$large}

@media #{$landscape}

@media #{$portrait}
