<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Zongzi 粽子 {% block title %}{% endblock %}</title>
		{{ "app.css" | asset_url | stylesheet_tag }}
		{{ "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" | script_tag }}
		<!-- TODO: Complete this project :) -->
	</head>
	<body>
		<div class="wrap-page-navigation">
			{% include "navigation" %}
		</div>
		<div class="wrap-page-content page-{{ mixture.url }}">

			{% block content %}{% endblock %}
		</div>
		<div class="wrap-page-footer">
			{% include "footer" %}
			{% include "scripts" %}
		</div>
	</body>
</html>