
// Button Styles
// ============================================================

// ========= Core Button Styles =========

.button
	display: inline-block
	@include component()
	background-color: $primary
	&.alert
		background-color: $alert
	&.alternate
		background-color: $base-color
		color: $base-bg

.button.large
	display: inline-block
	@include component(3)
	background-color: $primary
