{% block content %}
	<div class="wrap-page-section page-section-stage">
		<section>
			<h1>{{ "http://forhumans.co/superdry/superdry.png" | image_tag }}</h1>
			<article>
				<h1 class="flush-top">Hello, world!</h1>
				<p>You are using SuperDry.</p>
				<p><a href="http://docs.mixture.io" class="button large">Read the Mixture documentation &raquo;</a></p>
			</article>

		</section>
	</div>
	<div class="wrap-page-section page-section-slideshow">
		<div class="rslides_container">
			<ul class="rslides" id="slider1">
				<li>{{ "1400x600" | placeholder:'bbbbbb' | image_tag:'Img 1' }}</li>
				<li>{{ "1400x600" | placeholder:'888888' | image_tag:'Img 2' }}</li>
				<li>{{ "1400x600" | placeholder:'eeeeee' | image_tag:'Img 3' }}</li>
			</ul>
		</div>
	</div>
{% endblock %}