{% block content %}
	<div class="wrap-page-section page-section-stage">
		<section>
			<h1>Hello, world!</h1>
			<p>You are using the Zongzi boilerplate.</p>
			<p><a href="http://compass-style.org/" class="btn">Read the Compass documentation &raquo;</a></p>
			<p><a href="http://docs.mixture.io" class="btn">Read the Mixture documentation &raquo;</a></p>
		</section>
	</div>
{% endblock %}