{% block content %}
	<div class="wrap-page-section page-section-stage">
		<section>
			<h1>Hello, world!</h1>
			<p>You are using the Zongzi boilerplate.</p>
			<p><a href="http://compass-style.org/" class="btn">Read the Compass documentation &raquo;</a></p>
			<p><a href="http://docs.mixture.io" class="btn">Read the Mixture documentation &raquo;</a></p>
		</section>
	</div>
	<div class="wrap-page-section page-section-slideshow">
		<div class="rslides_container">
			<ul class="rslides" id="slider1">
				<li>{{ "1400x600" | placeholder:'bbbbbb' | image_tag:'Plated Dish' }}</li>
				<li>{{ "1400x600" | placeholder:'888888' | image_tag:'Plated Dish' }}</li>
				<li>{{ "1400x600" | placeholder:'eeeeee' | image_tag:'Plated Dish' }}</li>
			</ul>
		</div>
	</div>
{% endblock %}